<header class="site-header">
	<div class="header-inner">
		<div class="header-left">
			<img src="{{ SESSION['DIRECTORY'] }}/static/img/jeu-morpion.jpg" alt="logo" class="header-logo">
			<div class="header-titles">
				<h1 class="site-title">{{ SESSION['APP'] }}</h1>
				<div class="site-baseline">{{ SESSION['BASELINE'] }}</div>
			</div>
		</div>

		<div class="header-right">
			<nav class="header-nav">
				<a href="parametre.html">Jouer</a>
				<a href="stats.html">Stats</a>
			</nav>
		</div>
	</div>
</header>
