<!-- menu -->
<nav class="site-menu bg-gray-400">
    <div class="grid grid-rows-4 text-left gap-6">
        <div>
            <a href="parametre.html">
                <button class="w-full max-w-64 bg-blue-300 text-white justify-center rounded">
                    Jouer
                </button>
            </a>
        </div>

        <div>
            <a href="stats.html">
                <button class="w-full max-w-64 bg-blue-300 text-white justify-center rounded">
                    Statistiques
                </button>
            </a>
        </div>

        <div>
            <a href="aide.html">
                <button class="w-full max-w-64 bg-blue-300 text-white justify-center rounded">
                    Aide
                </button>
            </a>
        </div>
        <div>
            <a href="creation.html">
                <button class="w-full max-w-64 bg-blue-300 text-white justify-center rounded">
                    Création des équipes
                </button>
            </a>
        </div>
    </div>
</nav>
